@media only screen and (max-width: 639px) {
  .m-stack {
    clear: both !important;
    display: block !important;
    height: auto !important;
    width: 100% !important;
  }

  .width100 {
    width: 100% !important;
  }
}

.classtest {
  color: red;
}
